body {
    margin: 0;
    padding: 0;
}

@keyframes glitch {
    0% { text-shadow: 2px 0 red, -2px 0 blue; }
    25% { text-shadow: -2px 0 red, 2px 0 blue; }
    50% { text-shadow: 2px 2px red, -2px -2px blue; }
    75% { text-shadow: -2px -2px red, 2px 2px blue; }
    100% { text-shadow: 2px 0 red, -2px 0 blue; }
}

.glitch {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    word-wrap: break-word;
    animation: glitch 0.1s infinite alternate; /* loops */
}

body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

g {
    color: green;
}

.bottom-anchor {
    position: fixed;
    bottom: 0;
    padding: 10px;
    color: white;
    z-index: 1000;
    line-height: 50%;
}

.bottom-anchor h1 {
    text-align: center;
    background-color: rgba(194, 0, 0, 0.5);
    line-height: 80%;
}